.cc-bg-blue{
	background-color:  #46b4e3;
}
.cc-blue{
	color:  #46b4e3;
}
.cc-bg-gray{
	background-color:  #4a494a;
}
.cc-gray{
	color:  #4a494a;
}
.cc-bg-darkblue{
	background-color:  #0e2532;
}
.cc-darkblue{
	color:  #0e2532;
}